*{
    box-sizing: border-box;
    margin: 0px;
}

header{
    height: 100vh;
    background-image:linear-gradient(rgb(236, 158, 208) rgb(120, 25, 104));
    display: grid;
    grid-template-columns: 40vw 60vw;
    grid-template-rows: 50vh 20vh 30vh;
    justify-items: center;
}

body{
    background-color: rosybrown; 
    color: bisque;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: larger; 
}
#h1{
    background-image: radial-gradient(rgb(236, 158, 208), rgb(120, 25, 104 ));
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: xx-large;

}
h2{
    color: rgb(6, 6, 81);
    font-family: fantasy;
    font-style: oblique;
    font-size: 40px;
    text-decoration: cadetblue;
    text-align: center;
}
p{
    color: aqua;
    font-family: 'Courier New', Courier, monospace;
    padding: 30px;
    font-size: 24px;
}
#logo{
    width: 80%;
    grid-column: 1/2;
    grid-row: 1/3;
    align-self: center;
}
h1{
    grid-column: 2/4;
    grid-row: 2/3;
}
.barra-nav{
    grid-column: 1/4;
    grid-row: 3/4;
}
nav{
    width: 100%;
}
.menu{
display:flex;
justify-content: space-between;
}
#rvf{
    height: 100%;
    grid-column: 2/3;
    grid-row: 1/2; 
}

/*  usamos un selector descendente para darle estilo al enlace y dentro la imagen    */
#rvf img{
    height: 100%;
}

#titulo{
    width: 350px;
}
#Pte1{
    height: 100vh;
    background-image:linear-gradient(rgb(236, 158, 208), rgb(120, 25, 104));
    display: grid;
    grid-template-columns: 50vw 50vw;
    grid-template-rows: 33.3vh 33.3vh 33.3vh;
    justify-items: right;
}
.naturaleza{
    height: 100%;

}
.n1{
 
    grid-column: 1/2;
    grid-row: 1/2;
    justify-self: right;
}
.n2{
    grid-column: 1/2;
    grid-row: 2/3;
    justify-self: left;
}
.n3{
    grid-column: 1/2;
    grid-row: 3/4;
    justify-self: right;
}

#primer-parrafo{
    height: 100%;
    grid-column: 2/2;
    grid-row: 2/3;
    justify-content: right;
}
#Pte2{
    height: 100%;
    display: grid;
    grid-template-columns: 60vw 40vw;
    grid-template-rows: 35vh 30vh 35vh;
}
#moral{
    height: 100%;
    width: 75%;
    grid-column: 2/3;
    grid-row: 1/2;
    justify-self: right;
}
#etica{
    height: 100%;
    width: 75%;
    grid-column: 2/3;
    grid-row: 2/3;
    justify-self: left;
}
#bien{
    height: 100%;
    width: 75%;
    grid-column: 2/3;
    grid-row: 3/4;
    justify-self: right;
}
#parrafo2{
    grid-column: 1/2;
    grid-row: 2/4;
}
.etica{
    grid-column: 1/2;
    grid-row: 1/2;
    font-size: 28px;
}
#Pte3{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50vh 50vh;
    border:2px solid black;
}
#balanza{
    height: 100%;
    width: 100%;
    grid-column: 1/2;
    grid-row: 1/2;
}
.poder{
    font-size: 28px;
    grid-column: 2/3;
    grid-row: 1/2;
 }
 #parafo3{
     grid-column: 1/3;
     grid-row: 2/3;
     justify-content:center ;
 }
 #Pte4{
    height: 100vh;
    display: grid;
    grid-template-columns: 30vw 40vw 30vw;
    grid-template-rows: 60vh 40vh;
 }
.edufem{
    font-size: 24px;
    grid-column: 2/3;
    grid-row: 1/2;
}
.parrafo4{
     grid-column: 1/4;
     grid-row: 2/3;
     justify-content:center ;
}
.mujeres{
    height: 80%;
    grid-column: 1/2;
    grid-row: 1/2;
}
.educacion{
    height: 80%;
    grid-column: 3/4;
    grid-row: 1/2;
}
#Pte5{
    height: 100%;
    display: grid;
    grid-template-columns: 25vw 25vw 25vw 25vw;
    grid-template-rows: 50vh 50vh;
}
.estadisticas{
    grid-column: 1/2;
    grid-row: 1/2;
}
#alfabetismo{
    height: 80%;
    grid-column: 2/3;
    grid-row: 1/2;
}
#educ{
    height: 80%;
    grid-column:3/4;
    grid-row: 1/2;
}
#hogar{
    height: 80%;
    grid-column: 4/5;
    grid-row: 1/2;
}
#propiedad{
    height: 80%;
    grid-column: 2/3;
    grid-row: 2/3;
}
#salario{
    height: 80%;
    grid-column: 3/4;
    grid-row:2/3;   
}
#trabajo{
    height: 80%;
    grid-column: 4/5;
    grid-row: 2/3;
}
#Pte6{
    height: 100vh;
    display: grid;
    grid-template-columns: 50vw 50vw;
    grid-template-rows: 50vh 50vh;
}
#RESPETO{
    height: 80%;
    grid-column: 1/2;
    grid-row: 1/2;
}
#valor{
    height: 80%;
    grid-column: 2/3;
    grid-row: 1/2;
}
#patriarcado{
    height: 80%;
    grid-column:1/2;
    grid-row: 2/3;
}
#igualdad{
    height: 80%;
    grid-column: 2/3;
    grid-row: 2/3;
}