*{
    box-sizing: border-box;
    margin: 2px;
    padding: 5px;
}

body{
    /* background-color: rgb(17, 85, 105);  */
    color: bisque;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#header{
    height: 100vh;
    /* background-image: linear-gradient(blue,red); */
    background-image:radial-gradient(rgb(236, 158, 208), rgb(120, 25, 104));
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 50vh 20vh 30vh;
    justify-items: center;
}
#h1{
    background-image: radial-gradient(rgb(236, 158, 208), rgb(120, 25, 104 ));
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: xx-large;

}
h2{
    color: rgb(6, 6, 81);
    font-family: fantasy;
    font-style: oblique;
    font-size: 60px;
    text-decoration: cadetblue;
    text-align: center;
    text-shadow: 0px 0px 5px aqua;
}
p{
    color: aqua;
    font-family: 'Courier New', Courier, monospace;
    padding: 20px;
    font-size: 24px;
}
#logo{
    width: 80%;
    grid-column: 1/2;
    grid-row: 1/3;
    align-self: center;
}
h1{
    grid-column: 2/4;
    grid-row: 2/3;
}
.barra-nav{
    grid-column: 1/4;
    grid-row: 3/4;
    font-family: cursive;
    font-size: 24px;
}
nav{
    width: 100%;
}
.menu{
  display:flex;
  justify-content: space-between;
  list-style: none;
}
#rvf{
    height: 100%;
    grid-column: 2/3;
    grid-row: 1/2; 
}

/*  usamos un selector descendente para darle estilo al enlace y dentro la imagen    */
#rvf img{
    height: 100%;
}

#titulo{
    width: 350px;
}
#Pte1{
   
    background-image:radial-gradient(rgb(236, 158, 208), rgb(120, 25, 104));
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 33vh auto auto;
    justify-items: right;
}
.naturaleza{
    height: 100px;

}
#hm-poder{
    height: 100%;
    width: 80%;
    grid-column: 2/3;
    grid-row: 2/3;
    justify-self: left;
}
#Pte1 p{
    grid-column: 2/3;
    grid-row: 2/4;
}
.n1{
    height: 100%;
    width: 70%;
    grid-column: 1/2;
    grid-row: 1/2;
    justify-self: right;
}
.n2{
    height: 100%;
    width: 70%;
    grid-column: 1/2;
    grid-row: 2/3;
    justify-self: left;
}
.n3{
    height: 100%;
    width: 70%;
    grid-column: 1/2;
    grid-row: 3/4;
    justify-self: right;
}

#primer-parrafo{
    height: 100%;
    grid-column: 2/2;
    grid-row: 2/3;
    justify-content: right;
}
#Pte2{
  
    /* background-image: linear-gradient(blue,red); */
    background-image: radial-gradient(rgb(214, 132, 145), rgb(59, 13, 59));
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 35vh auto auto;
}
#moral{
    height: 200px;
    width: 50%;
    grid-column: 2/3;
    grid-row: 1/2;
    justify-self: right;
}
#etica{
    height: 200px;
    width: 50%;
    grid-column: 2/3;
    grid-row: 2/3;
    justify-self: left;
}
#bien{
    height: 200px;
    width: 50%;
    grid-column: 2/3;
    grid-row: 3/4;
    justify-self: right;
}
#Pte2 p{
    grid-column: 1/2;
    grid-row: 2/4;
}
.etica{
    grid-column: 1/2;
    grid-row: 1/2;
    font-size: 28px;
}
#Pte3{
 
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50vh auto;
    background-image: radial-gradient(rgb(255, 192, 221), rgb(77, 3, 52));
}
#balanza{
    height: 100%;
    width: 100%;
    grid-column: 1/2;
    grid-row: 1/2;
}
.poder{
    font-size: 26px;
    grid-column: 2/3;
    grid-row: 1/2;
 }
 .parrafo3{
     grid-column: 1/3;
     grid-row: 2/3;
     justify-content:center ;
 }
 #Pte4{
    
    display: grid;
    grid-template-columns: 30% 40% 30%;
    grid-template-rows: 40vh auto;
    background-image: radial-gradient(rgb(255, 192, 221), rgb(77, 3, 52));
 }
.edufem{
    height: auto;
    font-size: 24px;
    grid-column: 2/3;
    grid-row: 1/2;
}
.parrafo4{
     grid-column: 1/4;
     grid-row: 2/3;
     justify-content:center ;
}
.mujeres{
    height: 80%;
    width: 90%;
    grid-column: 1/2;
    grid-row: 1/2;
}
.educacion{
    height: 80%;
    width: 90%;
    grid-column: 3/4;
    grid-row: 1/2;
}
#Pte5{
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column: auto 40vh 40vh;
    background-image: radial-gradient(rgb(92, 49, 56), rgb(247, 104, 247));
}
#chicas{
    height: 80%;
    width: 80%;
    grid-column: 1/2;
    grid-row: 2/3;
    justify-self: right;
}
#hm-poder{
    height: 80%;
    grid-column: 1/2;
    grid-row: 3/4;
}
.genero_poder{
    font-size: 24px;
    grid-column: 1/2;
    grid-row: 1/2;
}
#Pte5 p{
    grid-column: 2/3;
    grid-row: 1/4;
}

#Pte6{
    
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 50vh 50vh;
}
.estadisticas{
    grid-column: 1/2;
    grid-row: 1/2;
    justify-self: self-end;
}
#alfabetismo{
    height: 80%;
    width:90%;
    grid-column: 2/3;
    grid-row: 1/2;
}
#educ{
    height: 80%;
    width: 90%;
    grid-column:3/4;
    grid-row: 1/2;
}
#hogar{
    height: 80%;
    width: 90%;
    grid-column: 4/5;
    grid-row: 1/2;
}
#propiedad{
    height: 80%;
    width: 90%;
    grid-column: 2/3;
    grid-row: 2/3;
}
#salario{
    height: 80%;
    width: 90%;
    grid-column: 3/4;
    grid-row:2/3;   
}
#trabajo{
    height: 80%;
    width: 90%;
    grid-column: 4/5;
    grid-row: 2/3;
}
#Pte7{
    
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50vh 50vh;
    background-image: radial-gradient(rgb(42, 21, 54), rgb(66, 13, 22));
}
#RESPETO{
    height: 100%;
    width: 80%;
    grid-column: 1/2;
    grid-row: 1/2;
    justify-self: center;
}
#valor{
    height: 100%;
    width: 80%;
    grid-column: 2/3;
    grid-row: 1/2;
    justify-self: center;
}
#patriarcado{
    height: 100%;
    width: 80%;
    grid-column:1/2;
    grid-row: 2/3;
    justify-self: center;
}
#igualdad{
    height: 100%;
    width: 80%;
    grid-column: 2/3;
    grid-row: 2/3;
    justify-self: center;
}
footer{
    height: 20vh;
    background-color: rgb(99, 88, 88);
    color: rgb(181, 181, 255);
    display: grid;
    grid-template-columns: 30% 30% 40%;
    grid-template-rows: 100%;
}
#logo_footer{
    height:100%;
    grid-column: 1/2;
}
#logofooter{
    height: 100%;
}
#enlaces{
    grid-column: 2/3;
    font-size: 36px;
    /* border: 2px dashed blue; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#contacto{
     /* border: 2px dashed blue; */
     display: flex;
     justify-content: center;
    }
#contacto p{     
     font-size: 30px;
     color: white;
     text-shadow: 0px 0px 5px aqua;
}